<!DOCTYPE html>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}
  <link rel="stylesheet"
          href="../static/css/chartist.min.css">
{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Spark{%endblock%}
{% block page_content %}
  <div class="page-header">
     <h1>Hello,my friend!!</h1>
  </div>
  <div>
    {{ wtf.quick_form(form)}} 
  </div>
  <div class="ct-chart ct-golden-section" id="chart1"></div>
{% endblock %}
{% block scripts %}
{{ super() }}
  <script src="../static/js/jquery-3.1.1.min.js""></script>
  <script src="../static/js/chartist.min.js"></script>
  <script src="../static/js/chart.js"></script>
  <script language="javascript" type="text/javascript">
    $(document).ready ( function(){
      getdata({{ olddata }},{{newdata }})
    });
  </script>
{% endblock %}

