<!DOCTYPE html>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}
  <link rel="stylesheet"
          href="../static/css/chartist.min.css"> 
{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Spark{%endblock%}
{% block page_content %}
  <div class="page-header">
     <h1>Hello,my friend!!</h1>
     <p>{{ data }}</p>
  </div>
  <div>
    {{ wtf.quick_form(form)}} 
  </div>
  <div class="ct-chart ct-golden-section" id="chart1"></div>
{% endblock %}
{% block scripts %}
{{ super() }}
  <script src="../static/js/chartist.min.js"></script>
  <script src="../static/js/chart.js"></script>
  <script>
   $(document).ready(function() {
      getdata([1,2,3,4,5,6,7,8,9,10,11,12,13,14]);
  };
  </script>
{% endblock %}

